/* root styles */
:root {
	--ff--rubik: "Rubik", sans-serif;
	--ff--monts: "Montserrat", sans-serif;
	--brown: #4a4a4a;
	--lightGrey: #7f7f7f;
	--grey: #fafafa;
	--white: #fff;
	--offBlack: #0b0b0b;
	--teal: #51bab4;

	/* font-size */

	--sm-fs: 14px;
	--md-fs: 15px;
	--base-fs: 16px;
	--lg-fs: 18px;
	--xl-fs: 20px;
}

@media screen and (min-width: 768px) {
	:root {
		--sm-fs: 15px;
		--med-fs: 16px;
		--base-fs: 18px;
		--lg-fs: 20px;
		--xl-fs: 22px;
	}
}

/* reset styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: var(--ff--monts);
	color: var(--brown);
	font-size: 16px;
	text-align: center;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--brown);
	font-weight: 700;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff--rubik);
	font-weight: 700;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: var(--xl-fs);
	padding: 30px 0;
}
h3 {
	font-size: var(--lg-fs);
	font-weight: 500;
	color: rgb(152, 99, 0);
	margin: 20px 0 10px;
}
h4 {
	font-size: var(--med-fs);
	margin: 0 0 30px;
}
h5 {
	font-size: var(--med-fs);
}

/* containers */

.cont-xl {
	max-width: 1440px;
}
.cont-l {
	max-width: 1024px;
}

/* Utility classes */

/* Colors */
.bg-grey {
	background-color: var(--grey);
}
.bg-white {
	background-color: var(--white);
}
.color-lightGrey {
	color: var(--lightGrey);
}

/* Gaps */

.gap10 {
	gap: 10px;
}
.gap30 {
	gap: 30px;
}

/* Display */

.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.grid {
	display: grid;
}
.hide {
	display: none;
}
.jc-between {
	justify-content: space-between;
}
.margin-auto {
	margin: auto;
}
.block {
	display: block;
}
.w100 {
	width: 100%;
}

/* text decoration */

.uppercase {
	text-transform: uppercase;
}

.nav-ul li a {
	text-transform: uppercase;
	transition: 0.3s ease-in-out;
	padding: 10px;
}

.nav-ul li {
	background-color: var(--white);
	padding: 10px;
}

.nav-ul li a:hover,
.nav-ul-footer li a:hover {
	color: var(--teal);
}

/* Header + nav */

header {
	background-color: var(--grey);
	padding: 10px;
}

/* intro section */

.intro-wrapper {
	padding: 30px 10px;
	background-color: var(--teal);
}
.profile-img {
	max-width: 200px;
	height: auto;
	margin: auto;
}
.intro-text {
	font-size: var(--sm-fs);
	line-height: 1.6;
	color: var(--offBlack);
}

/* portfolio section */

.portfolio-wrapper {
	max-width: 1200px;
}

.portfolio-wrapper .project-wrapper {
	padding: 0 20px 30px;
	flex: 1 1 315px;
}
.project-wrapper p {
	font-size: var(--sm-fs);
}

/* skill section */

.skills-wrapper {
	padding: 30px 20px 60px;
}
.skill-box {
	border: 1px solid var(--brown);
	border-radius: 20px;
}
.skill-box:nth-of-type(1) .skill-inner {
	background-color: rgb(255, 160, 160);
	width: 90%;
}
.skill-box:nth-of-type(2) .skill-inner {
	background-color: rgb(148, 205, 148);
	width: 70%;
}
.skill-box:nth-of-type(3) .skill-inner {
	background-color: rgb(239, 208, 150);
	width: 40%;
}
.skill-box:nth-of-type(4) .skill-inner {
	background-color: rgb(173, 233, 233);
	width: 60%;
}
.skill-inner {
	font-weight: 700;
	padding: 5px 0 5px 30px;
	border-radius: 20px;
	text-align: left;
}

/* footer */

.footer-wrapper {
	padding: 30px 10px;
	background-color: var(--grey);
}
.contact-wrapper p {
	font-size: var(--md-fs);
	padding: 30px 0;
	max-width: 450px;
	margin: auto;
}
.contact-links {
	font-size: var(--md-fs);
	padding: 0 0 40px;
}
.contact-links a {
	transition: 0.3s ease-in-out;
}
.contact-links a:hover {
	color: var(--teal);
}
.footer-info {
	border-top: rgba(128, 128, 128, 0.436) solid 1px;
	padding: 30px 10px 0;
}
.footer-info p,
.footer-info a {
	font-size: var(--sm-fs);
	font-weight: 700;
	color: var(--offBlack);
}

/* Media query for 500px */

@media screen and (min-width: 500px) {
	.skill-box {
		max-width: 350px;
	}
}

/* Media query for 768px */

@media screen and (min-width: 768px) {
	.header {
		gap: 20px;
		padding-top: 30px;
	}
	.nav-ul {
		flex-direction: row;
		justify-content: center;
	}
	.nav-ul li {
		background-color: #fafafa;
	}
	.intro-wrapper {
		flex-direction: row;
		padding: 30px;
		gap: 0;
	}
	.intro-wrapper img {
		order: 2;
	}
	.intro-text {
		max-width: 400px;
		margin: auto;
	}
	.portfolio-wrapper {
		padding: 30px;
	}
	.skill-box {
		max-width: 100%;
	}
	.skills-wrapper-inner {
		grid-template-columns: 1fr 1fr;
		max-width: 1024px;
		margin: auto;
	}
	.nav-footer {
		display: flex;
	}
	.to-top {
		display: none;
	}
}

/* Media query for 1024px */

@media screen and (min-width: 1024px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}
